*{
    margin: 0;
    padding: 0;
}    
body {
    background: white;
    background-position: center;
    background-size: cover;
    position: relative;
}
.uurheader p{
    font-size: 16px;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.text-box img {
    float: left;
    margin-right: 20px;
    width:150px;
    height: 200px;
}
.text-box h1, .text-box p {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF; /* White */
}
/*zowlogoo*/
.zowlogoo
{
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 50%;
    margin: 50px auto;
    text-align: left;
    padding-top: 60px;
}
.zowlogoo p{
    padding-top: 14px;
    color: rgb(71, 71, 71);
    line-height: 30px;
    font-size: 14px;
}
/*other emotions*/
.feeling{ 
    width: 40%;
    margin: auto;/*to be in the center of the screen*/
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.row{
    margin-top: 3%;
    display:flex ;
    justify-content: center;
}
.row a{
    color: rgb(41, 41, 41);
    text-decoration: none;
    font-size: 15px;
}
.feeling-col{
    /*flex-basis: 15%;*/
    background: #e3eeff;
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    margin-left: 8px;
    margin-right: 8px;
}
.imgdiv{
    margin-right: 20px;
    width:90px;
    height: 90px;
}
.feeling-col:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.topic{
    margin: auto;
    text-align: center;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.topic h1::after{
    margin: auto;
    text-align: center;
    content:'';
    width:40%;
    height: 3px;
    background: hsl(0, 0%, 84%);
    display: block;
    transition: 0.5s;
}
footer {
    margin-top: 50px;
    height: 35vh;
    width: 100%;
    background: #121b25;
}
.footer{
    padding: 80px 13% 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 3.5rem;
    background: #4b5b7e;
    position:relative;
    left:0;
    right: 0;
    bottom: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.footer-content h4{
    color: #FFFFF0;
    margin-bottom: 1.5rem;
    font-size: 20px;
}
.footer-content ul li{
    margin-bottom: 16px;
    color: #FFFFF0;
    font-size: 15px;
    list-style-type: none;
}
.footer-content ul li a{
    display: block;
    color: #FFFFF0;
    font-size: 15px;
    text-decoration: none;
    font-weight: 400;
    transition: all .40s ease;
}
.footer-content ul li a:hover{
    transform: translateY(-3px) translateX(-5px);
    color:#fff;
}
.footer-content p{
    color: #FFFFF0;
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0px;
}

/* ANIMATION*/

/*body {
    font-family: "Arsenal SC", sans-serif;
    background: linear-gradient(rgba(224, 224, 224, 0.39), rgba(238, 238, 238, 0.39)), url(Images/backgroundblue.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.header {
    min-height: 130px;
    width: 100%;
    background-color: #FFCC80; 
    color: #333333;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav .logo {
    color: #333333;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 12px;
    position: relative;
    margin-left: 8px;
}
.nav-links ul li a {
    color: #333333;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
    content:'';
    width:0%;
    height: 2px;
    background: #333333;;
    display: block;
    margin:auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.uurheader {
    width: 40%;
    margin-top: 20px;
    margin: 40px auto 20px;
    text-align: left;
    padding: 20px 20px;
    background-color:  #B3E5FC; 
    color: #333333;
    position: relative;
    border-radius: 15px;
}
.text-box img {
    float: left;
    margin-right: 20px;
    width:150px;
}
.text-box h1, .text-box p {
    color: #333333; 
}
/*zowlogoo
.zowlogoo
{
    width: 40%;
    margin: auto;
    text-align: left;
    padding-top: 100px;
}
.feeling{
    width: 40%;
    margin: auto;/*to be in the center of the screen
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}
.row{
    margin-top: 3%;
    display:flex ;
    justify-content: space-between;
}
.row a{
    color: rgb(41, 41, 41);
    text-decoration: none;
    font-size: 15px;
}
.feeling-col{
    /*flex-basis: 15%;
    background: #e3eeff;
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    margin-left: 8px;
    margin-right: 8px;
}
.imgdiv{
    margin-right: 20px;
    width:90px;
    height: 90px;
}
.feeling-col:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.container{
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    display:flex;
    justify-content: center;
}
.card{
    background: white;
    width: 220px;
    height: 300px;
    margin: 10px;
    box-shadow: 0 0 10px 5px rgb(241, 241, 241);
}
.card-image{
    background-color: rgb(255, 255, 255);
    height: 120px;
    margin-bottom: 10px;
    background-position: center;
}
.zurag1{
    background-image: url(Images/listening.jpg);
    width:100%
}
.card h2{
    font-size: 14px;
    padding: 10px;
}
.card p{
    padding: 10px;
    font-size: 10px;
}
.card a {
    color: black;
    padding: 10px;
    font-size: 10px;
    font-style: italic;
    display: inline-block; /* Required for transform effects 
    transition: transform 0.3s ease, text-shadow 0.3s ease; /* Smooth transition 
}

.card a:hover {
    transform: translate(-5px, -3px);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Adds shadow effect 
}

footer {
    margin-top: 50px;
    height: 35vh;
    width: 100%;
    background: #121b25;
}
.footer{
    padding: 80px 13% 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 3.5rem;
    background: #4b5b7e;
    position:relative;
    left:0;
    right: 0;
    bottom: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.footer-content h4{
    color: #FFFFF0;
    margin-bottom: 1.5rem;
    font-size: 20px;
}
.footer-content ul li{
    margin-bottom: 16px;
    color: #FFFFF0;
    font-size: 15px;
    list-style-type: none;
}
.footer-content ul li a{
    display: block;
    color: #FFFFF0;
    font-size: 15px;
    text-decoration: none;
    font-weight: 400;
    transition: all .40s ease;
}
.footer-content ul li a:hover{
    transform: translateY(-3px) translateX(-5px);
    color:#fff;
}
.footer-content p{
    color: #FFFFF0;
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0px;
}
.topic{
    margin: auto;
    text-align: center;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.topic h1::after{
    margin: auto;
    text-align: center;
    content:'';
    width:40%;
    height: 3px;
    background: hsl(0, 0%, 84%);
    display: block;
    transition: 0.5s;
}*/