*{
    margin: 0;
    padding: 0;
}
/*body{
    font: normal 16px / 26px system-ui, "Roboto", Arial, sans-serif;
}*/
.header
{
    height: 130px;
    width: 100%;
    /*background-color: #2C3E50;*/
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}
nav{
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.pict{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.pict img{
    width: 150px;
}
.nav-links{
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 12x 12x;
    position: relative;
    margin-left: 8px;
}
.nav-links ul li a{
    color: rgb(0, 7, 73);
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li::after{
    content:'';
    width:0%;
    height: 2px;
    background: rgb(0, 7, 73);
    display: block;
    margin:auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.logo{
    color: rgb(0, 7, 73);
    text-decoration: none;
    font-size: 16px;
}
.logo::after{
    content:'';
    width:0%;
    height: 2px;
    background: rgb(0, 7, 73);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.logo:hover::after{
    width: 100%;
}
.zowlogoo{
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;

    width:60%;
    background-position: center;
    margin: 150px auto 20px;
    color: rgb(36, 36, 36);
}
.zowlogoo h1{
    font-size: 28px;
    color:  #134B70;
    margin-top: 15px;
}
/*rgb(0, 7, 73)*/
.zowlogoo p{
    font-size:14px;
    color: rgb(48, 48, 48);
    margin-top: 5px;
    letter-spacing: 0.5px;
    line-height: 120%;
    font: normal 16px / 26px system-ui, "Roboto", Arial, sans-serif;
}
.zowlogoo h2{
    margin-top: 15px;
    color: #201E43;
}
.zowlogoo h2::after{
    content:'';
    width:100%;
    height: 3px;
    background: rgb(201, 201, 201);
    display: block;
    margin: auto;
    transition: 0.5s;
}
/*.zowlogoo h2:hover::after{
    width: 100%;
}*/
.zowlogoo h3{
    margin-top: 15px;
}
.zowlogoo h4{
    margin-top: 15px;
    margin-bottom: 30px;
    color: #201E43;
}
.zowlogoo summary{
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer; 
    color: #201E43;
    transition: transform 0.3s ease, text-shadow 0.3s ease; 
}
.zowlogoo summary:hover{
    transform: translate(-5px, -3px);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Adds shadow effect */

}

footer {
    margin-top: 50px;
    height: 35vh;
    width: 100%;
    background: #121b25;
}
.footer{
    padding: 80px 13% 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 3.5rem;
    background: #4b5b7e;
    position:relative;
    left:0;
    right: 0;
    bottom: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.footer-content h4{
    color: #FFFFF0;
    margin-bottom: 1.5rem;
    font-size: 20px;
}
.footer-content ul li{
    margin-bottom: 16px;
    color: #FFFFF0;
    font-size: 15px;
    list-style-type: none;
}
.footer-content ul li a{
    display: block;
    color: #FFFFF0;
    font-size: 15px;
    text-decoration: none;
    font-weight: 400;
    transition: all .40s ease;
}
.footer-content ul li a:hover{
    transform: translateY(-3px) translateX(-5px);
    color:#fff;
}
.footer-content p{
    color: #FFFFF0;
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0px;
}
.topic{
    margin: auto;
    text-align: center;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.topic h1::after{
    margin: auto;
    text-align: center;
    content:'';
    width:40%;
    height: 3px;
    background: hsl(0, 0%, 84%);
    display: block;
    transition: 0.5s;
}