*{
    margin: 0;
    padding: 0;
}    
body {
    background: #fafaff;
    background-position: center;
    background-size: cover;
    position: relative;
}
.uurheader p{
    font-size: 16px;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.text-box img {
    float: left;
    margin-right: 20px;
    width:250px;
}
.text-box h1, .text-box p {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF; /* White */
}
/*zowlogoo*/
.zowlogoo
{
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 50%;
    margin: auto;
    text-align: left;
    padding-top: 60px;
}
.zowlogoo p{
    padding-top: 14px;
    color: rgb(71, 71, 71);
    line-height: 30px;
    font-size: 14px;
}
/*other emotions*/
.feeling{ 
    width: 40%;
    margin: auto;/*to be in the center of the screen*/
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.row{
    margin-top: 3%;
    display:flex ;
    justify-content: center;
}
.row a{
    color: rgb(41, 41, 41);
    text-decoration: none;
    font-size: 15px;
}
.feeling-col{
    /*flex-basis: 15%;*/
    background: #e3eeff;
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    margin-left: 8px;
    margin-right: 8px;
}
.imgdiv{
    margin-right: 20px;
    width:90px;
    height: 90px;
}
.feeling-col:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
footer {
    margin-top: 50px;
    height: 35vh;
    width: 100%;
    background: #121b25;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.footer{
    padding: 80px 13% 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 3.5rem;
    background: #4b5b7e;
    position:relative;
    left:0;
    right: 0;
    bottom: 0;
}
.footer-content h4{
    color: #FFFFF0;
    margin-bottom: 1.5rem;
    font-size: 20px;
}
.footer-content ul li{
    margin-bottom: 16px;
    color: #FFFFF0;
    font-size: 15px;
    list-style-type: none;
}
.footer-content ul li a{
    display: block;
    color: #FFFFF0;
    font-size: 15px;
    text-decoration: none;
    font-weight: 400;
    transition: all .40s ease;
}
.footer-content ul li a:hover{
    transform: translateY(-3px) translateX(-5px);
    color:#fff;
}
.footer-content p{
    color: #FFFFF0;
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0px;
}

/* ANIMATION*/
