body{
    background-color: #FFFBF5;
    
}
h1{
    color: #333333;
}
.mainp
{
    font: normal 16px / 26px system-ui, "Roboto", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 70%;
    margin: 180px auto;
    text-align: left;
    display: flex;
}
.mainp p{
    color: rgb(48, 48, 48);

}
mainp h1::after{
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    content:'';
    width:0%;
    height: 2px;
    background: hsl(0, 0%, 0%);
    /*display: block;*/
    margin:auto;
}
footer {
    margin-top: 50px;
    height: 35vh;
    width: 100%;
    background: #121b25;
}
.footer{
    padding: 80px 13% 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 3.5rem;
    background: #4b5b7e;
    position:relative;
    left:0;
    right: 0;
    bottom: 0;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
.footer-content h4{
    color: #FFFFF0;
    margin-bottom: 1.5rem;
    font-size: 20px;
}
.footer-content ul li{
    margin-bottom: 16px;
    color: #FFFFF0;
    font-size: 15px;
    list-style-type: none;
}
.footer-content ul li a{
    display: block;
    color: #FFFFF0;
    font-size: 15px;
    text-decoration: none;
    font-weight: 400;
    transition: all .40s ease;
}
.footer-content ul li a:hover{
    transform: translateY(-3px) translateX(-5px);
    color:#fff;
}
.footer-content p{
    color: #FFFFF0;
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0px;
}
.topic{
    margin: auto;
    text-align: center;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.topic h1::after{
    margin: auto;
    text-align: center;
    content:'';
    width:40%;
    height: 3px;
    background: hsl(0, 0%, 84%);
    display: block;
    transition: 0.5s;
}
.sidenav{
    width: 20%;
    height: 300px;
   /* position: fixed;*/
    z-index: 1;
    top: 200px;
    right: 50px;
    background: #f3f3f3;
    overflow-x: hidden;
    padding: 8px 0;
    border-radius: 30px;
    font: normal 16px / 26px system-ui, "Roboto", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.sidenav h3{
    padding-left: 10px;
}
.sidenav ul li{
    list-style-type: square;
}
.sidenav ul li::marker{
    color: #5D54A7;
}
